<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opening File</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="px-20 py-10 bg-gray-600 flex justify-center">
    <section class="bg-white rounded-md shadow-2xl text-wrap w-full h-screen">
            <p class="text-2xl text-justify p-4">
               <%= data %>
            </p>

    </section>
</body>
</html>