@import "tailwindcss";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent the horizontal bounce */
  background: #000; /* Fallback */
}

body {
  background: radial-gradient(circle at top left, #1e1b4b, #312e81, #000000);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}